.container {
    position: relative;
    width: 1280px;
    height: 720px;
    margin: auto;
}
.bg {
    position: relative;
    z-index: -1;
}

.slotmachine {
    position: absolute;
    left: 248;
    z-index: 0;
}

.spinButton {
    position: absolute;
    left: 775;
    top: 570;
    z-index: 1;
}

.mouseHand {
    position: absolute;
    left: 880;
    top: 610;
    z-index: 2;
}

.startText {
    position: absolute;
    left: 740;
    top: 480;
    z-index: 2;
}